# Datathon

## Pablo Lázaro Herrasti y Manuel Jesús Galán Moreu

### Imports

In [79]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

### Reading data

In [51]:
dir_data = 'C:/Users/Pablo.lazaro.herras1/Documents/Datathon/Datasets/'
elephant_dir = 'elephant.csv'
ring_dir = 'ring.csv'
yeast1_dir = 'yeast1.csv'

In [85]:
df_elephant = pd.read_csv(dir_data + elephant_dir, sep=';', skipinitialspace=True)
df_ring = pd.read_csv(dir_data + ring_dir, sep=';', skipinitialspace=True)
df_yeast1 = pd.read_csv(dir_data + yeast1_dir, sep=';', skipinitialspace=True)

### Showing data

In [186]:
print('Number of rows: ' + str(len(df_elephant)))
print('Number of columns: ' + str(len(df_elephant.columns)))
df_elephant.head()

Number of rows: 1391
Number of columns: 231

,Atr-1,Atr-2,Atr-3,Atr-4,Atr-5,Atr-6,Atr-7,Atr-8,Atr-9,Atr-10,...,Atr-222,Atr-223,Atr-224,Atr-225,Atr-226,Atr-227,Atr-228,Atr-229,Atr-230,CLASS
0,"-0,28698","-0,624297","-0,679333","-0,455715","0,371213","-0,415471","-0,549112","-0,4722","0,363383","0,33419",...,0,"-0,049855",120.049,"-0,078862","-0,021452",0,0,"-0,014952","-0,021097",1
1,"0,363763","0,146879","-0,83422","0,819986","0,504474",167.231,"-0,774634","0,76555","0,355781","0,215197",...,0,"-0,049855",129.994,"-0,078862","-0,021452",0,0,"-0,014952","-0,021097",1
2,"-0,15592","-0,139025",-115.844,246.346,"-0,463596",-138.827,"-0,945256",260.892,"-0,049767","0,846782",...,0,"-0,049855","0,031608","0,182763","-0,021452",0,0,"-0,014952","-0,021097",1
3,-122.972,-119.093,"-0,364069",-132.571,"-0,005645","-0,740226","-0,468026",-131.328,"-0,082819","0,857917",...,0,"-0,049855","0,591019","-0,078862","-0,021452",0,0,"-0,014952","-0,021097",1
4,"0,9162","0,265188","-0,252377",256.115,"-0,128087","-0,105623","-0,302654",259.287,"-0,167432","-0,626084",...,0,"-0,049855","-0,114025","0,167061","-0,021452",0,0,"-0,014952","-0,021097",1

In [187]:
print('Number of rows: ' + str(len(df_ring)))
print('Number of columns: ' + str(len(df_ring.columns)))

df_ring.head()

Number of rows: 7400
Number of columns: 21

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,...,A12,A13,A14,A15,A16,A17,A18,A19,A20,Class
0,849,2177,598,1689,3114,-3406,3799,-2642,1578,-181,...,1633,4664,1081,-1172,-166,578,1664,309,-3028,0
1,947,543,782,-449,-8,1316,756,-61,1604,1686,...,-382,1259,608,-2292,1008,2687,-1422,-606,2374,1
2,759,-314,898,-1743,2003,1117,911,136,-489,-144,...,112,598,474,2026,1431,-336,79,1123,302,1
3,531,1374,517,1226,1122,-4,-1227,2277,1083,888,...,1063,2454,587,-744,1216,916,-476,6,-477,1
4,-1443,1065,2071,207,-865,-786,2655,-366,971,-341,...,4195,-117,-2694,14,4097,1356,-944,-602,2348,0

In [188]:
print('Number of rows: ' + str(len(df_yeast1)))
print('Number of columns: ' + str(len(df_yeast1.columns)))
df_yeast1.head()

Number of rows: 1484
Number of columns: 9

    Mcg   Gvh   Alm   Mit  Erl Pox   Vac   Nuc     Class
0  0,58  0,61  0,47  0,13  0,5   0  0,48  0,22  negative
1  0,43  0,67  0,48  0,27  0,5   0  0,53  0,22  negative
2  0,64  0,62  0,49  0,15  0,5   0  0,53  0,22  negative
3  0,58  0,44  0,57  0,13  0,5   0  0,54  0,22  positive
4  0,42  0,44  0,48  0,54  0,5   0  0,48  0,22  negative

### First cleaning

#### Funciones útiles

In [108]:
def obtain_labels(df):
    
    if len(df.columns) == 231 or len(df.columns) == 21:
        return list(df.iloc[:,-1])
    else:
        return [0 if label == 'negative' else 1 for label in list(df.iloc[:,-1])]

In [229]:
def preprocess_dataframe(df):
    
    eliminate_columns = []
    for column in df.columns:
        if df[column].dtype == 'object':
            df[column] = pd.to_numeric(df[column].str.replace(',','.'), errors='coerce')
        if (df[column] == 0).all() or len(df[column].unique()) == 1:
            eliminate_columns.append(column)
        
    return df.drop(eliminate_columns, axis=1), eliminate_columns

In [230]:
data_elephant, eliminate_elephant = preprocess_dataframe(df_elephant.iloc[:,:-1])
data_ring, eliminate_ring = preprocess_dataframe(df_ring.iloc[:,:-1])
data_yeast1, eliminate_yeast1 = preprocess_dataframe(df_yeast1.iloc[:,:-1])
labels_elephant = obtain_labels(df_elephant)
labels_ring = obtain_labels(df_ring)
labels_yeast = obtain_labels(df_yeast1)

### Showing data preprocessed

In [231]:
print('Number of columns: ' + str(len(data_elephant.columns)))
data_elephant.head()

Number of columns: 110

,Atr-1,Atr-2,Atr-3,Atr-4,Atr-5,Atr-6,Atr-7,Atr-8,Atr-9,Atr-10,...,Atr-211,Atr-215,Atr-216,Atr-217,Atr-218,Atr-219,Atr-223,Atr-224,Atr-225,Atr-226
0,-0.286980,-0.624297,-0.679333,-0.455715,0.371213,-0.415471,-0.549112,-0.47220,0.363383,0.334190,...,-0.037709,-0.242745,-0.173706,-0.308654,165.218000,-0.017565,-0.049855,120.049000,-0.078862,-0.021452
1,0.363763,0.146879,-0.834220,0.819986,0.504474,167.231000,-0.774634,0.76555,0.355781,0.215197,...,-0.037709,-0.265739,-0.149831,-0.321915,0.817139,-0.017565,-0.049855,129.994000,-0.078862,-0.021452
2,-0.155920,-0.139025,-115.844000,246.346000,-0.463596,-138.827000,-0.945256,260.89200,-0.049767,0.846782,...,-0.037709,-0.265739,0.502075,-0.399635,-0.102856,-0.017565,-0.049855,0.031608,0.182763,-0.021452
3,-122.972000,-119.093000,-0.364069,-132.571000,-0.005645,-0.740226,-0.468026,-131.32800,-0.082819,0.857917,...,-0.037709,-0.265739,-0.337459,-0.311496,11.019000,-0.017565,-0.049855,0.591019,-0.078862,-0.021452
4,0.916200,0.265188,-0.252377,256.115000,-0.128087,-0.105623,-0.302654,259.28700,-0.167432,-0.626084,...,-0.037709,-0.265739,133.835000,-0.378855,-0.102856,-0.017565,-0.049855,-0.114025,0.167061,-0.021452

In [232]:
print('Number of columns: ' + str(len(data_ring.columns)))
data_ring.head()

Number of columns: 20

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,A16,A17,A18,A19,A20
0,849,2177,598,1689,3114,-3406,3799,-2642,1578,-181,-212,1633,4664,1081,-1172,-166,578,1664,309,-3028
1,947,543,782,-449,-8,1316,756,-61,1604,1686,264,-382,1259,608,-2292,1008,2687,-1422,-606,2374
2,759,-314,898,-1743,2003,1117,911,136,-489,-144,982,112,598,474,2026,1431,-336,79,1123,302
3,531,1374,517,1226,1122,-4,-1227,2277,1083,888,-111,1063,2454,587,-744,1216,916,-476,6,-477
4,-1443,1065,2071,207,-865,-786,2655,-366,971,-341,221,4195,-117,-2694,14,4097,1356,-944,-602,2348

In [233]:
print('Number of columns: ' + str(len(data_yeast1.columns)))
data_yeast1.head()

Number of columns: 8

    Mcg   Gvh   Alm   Mit  Erl  Pox   Vac   Nuc
0  0.58  0.61  0.47  0.13  0.5  0.0  0.48  0.22
1  0.43  0.67  0.48  0.27  0.5  0.0  0.53  0.22
2  0.64  0.62  0.49  0.15  0.5  0.0  0.53  0.22
3  0.58  0.44  0.57  0.13  0.5  0.0  0.54  0.22
4  0.42  0.44  0.48  0.54  0.5  0.0  0.48  0.22

### Correlation data

Función que crea un diccionario con key: atributo y value: atributos más parecidos y su porcentaje de correlación en una tupla

In [245]:
def topn_corr(df, top_n):
    
    top_n = top_n+1
    correlation = df.corr(method ='pearson') 
    all_corr = {}
    for column in correlation.columns:
        top = correlation[column].nlargest(top_n)
        indexes = list((top).index)[1:]
        all_corr[column] = (indexes, list(top)[1:])
    
    return all_corr

In [246]:
top_n = 3
corr_elephant = topn_corr(data_elephant, top_n)
corr_ring = topn_corr(data_ring, top_n)
corr_yeast1 = topn_corr(data_yeast1, top_n)

### Showing correlation results

In [249]:
corr_elephant

{'Atr-1': (['Atr-2', 'Atr-81', 'Atr-36'],
  [0.8191814765798557, 0.08211586138176473, 0.06738680195391926]),
 'Atr-2': (['Atr-1', 'Atr-11', 'Atr-40'],
  [0.8191814765798557, 0.11944526082799543, 0.08580812812041186]),
 'Atr-3': (['Atr-7', 'Atr-154', 'Atr-146'],
  [0.8807360829361456, 0.06356805357399047, 0.055567938091519886]),
 'Atr-4': (['Atr-8', 'Atr-208', 'Atr-144'],
  [0.8952109014530636, 0.15986053949129958, 0.13398682818114066]),
 'Atr-5': (['Atr-9', 'Atr-152', 'Atr-84'],
  [0.788925836395123, 0.16813930476356218, 0.16636307104462594]),
 'Atr-6': (['Atr-5', 'Atr-4', 'Atr-8'],
  [0.11959957265789702, 0.112893769417118, 0.09253299719797438]),
 'Atr-7': (['Atr-3', 'Atr-45', 'Atr-154'],
  [0.8807360829361456, 0.0670939075094639, 0.06416063740706446]),
 'Atr-8': (['Atr-4', 'Atr-208', 'Atr-144'],
  [0.8952109014530636, 0.16197516479716148, 0.15276166359722002]),
 'Atr-9': (['Atr-5', 'Atr-84', 'Atr-152'],
  [0.788925836395123, 0.1274716876829147, 0.12196144697585606]),
 'Atr-10': (['Atr-216', 'Atr-12', 'Atr-217'],
  [0.18274212170780207, 0.11403145807583084, 0.10492469180205584]),
 'Atr-11': (['Atr-162', 'Atr-2', 'Atr-163'],
  [0.1583461384835177, 0.11944526082799543, 0.11367047969871456]),
 'Atr-12': (['Atr-156', 'Atr-147', 'Atr-148'],
  [0.22913400242588033, 0.21792972463556035, 0.19030844836298358]),
 'Atr-13': (['Atr-33', 'Atr-78', 'Atr-79'],
  [0.17259998373794347, 0.13947640654666424, 0.1118643957653521]),
 'Atr-14': (['Atr-35', 'Atr-34', 'Atr-31'],
  [0.5923059573915971, 0.35875934152200606, 0.26481765005528135]),
 'Atr-15': (['Atr-20', 'Atr-16', 'Atr-39'],
  [0.39437563846067875, 0.2996161271330837, 0.2667435287913744]),
 'Atr-16': (['Atr-15', 'Atr-17', 'Atr-14'],
  [0.2996161271330837, 0.23274361870337834, 0.19936422786548857]),
 'Atr-17': (['Atr-40', 'Atr-16', 'Atr-15'],
  [0.2522021167328263, 0.23274361870337834, 0.2203244597813447]),
 'Atr-19': (['Atr-38', 'Atr-43', 'Atr-44'],
  [0.27204133760670834, 0.23251463976959247, 0.18386321958921475]),
 'Atr-20': (['Atr-44', 'Atr-15', 'Atr-21'],
  [0.4398379057670585, 0.39437563846067875, 0.272615428559493]),
 'Atr-21': (['Atr-45', 'Atr-22', 'Atr-20'],
  [0.3314314289399372, 0.31334929815258866, 0.272615428559493]),
 'Atr-22': (['Atr-46', 'Atr-21', 'Atr-47'],
  [0.3176805730604864, 0.31334929815258866, 0.18258324715509502]),
 'Atr-25': (['Atr-39', 'Atr-86', 'Atr-10'],
  [0.10825796101097528, 0.07324521069285418, 0.04892461324058469]),
 'Atr-26': (['Atr-44', 'Atr-20', 'Atr-45'],
  [0.5165399762476152, 0.23814935817722713, 0.11258586635914805]),
 'Atr-27': (['Atr-52', 'Atr-9', 'Atr-147'],
  [0.11664555258467817, 0.08435880343876824, 0.07456649751134721]),
 'Atr-30 ': (['Atr-73', 'Atr-79', 'Atr-140'],
  [0.3449483616502866, 0.25656021314332017, 0.2463222729668206]),
 'Atr-31': (['Atr-74', 'Atr-35', 'Atr-32'],
  [0.6061548353925121, 0.42838867072791237, 0.4112935324791346]),
 'Atr-32': (['Atr-75', 'Atr-74', 'Atr-31'],
  [0.43569184874612316, 0.4245237183638454, 0.4112935324791346]),
 'Atr-33': (['Atr-78', 'Atr-38', 'Atr-13'],
  [0.2770686802224342, 0.19597061029464732, 0.17259998373794347]),
 'Atr-34': (['Atr-14', 'Atr-35', 'Atr-39'],
  [0.35875934152200606, 0.3189531350401645, 0.26608091775512216]),
 'Atr-35': (['Atr-14', 'Atr-31', 'Atr-32'],
  [0.5923059573915971, 0.42838867072791237, 0.3320296576913615]),
 'Atr-36': (['Atr-35', 'Atr-81', 'Atr-32'],
  [0.31079459133905324, 0.2827192035673106, 0.20987349434401056]),
 'Atr-37': (['Atr-85', 'Atr-153', 'Atr-52'],
  [0.5137745248858175, 0.18594487424114278, 0.08379127915166022]),
 'Atr-38': (['Atr-44', 'Atr-19', 'Atr-39'],
  [0.2928976617604729, 0.27204133760670834, 0.22955898715174597]),
 'Atr-39': (['Atr-15', 'Atr-34', 'Atr-38'],
  [0.2667435287913744, 0.26608091775512216, 0.22955898715174597]),
 'Atr-40': (['Atr-41', 'Atr-17', 'Atr-39'],
  [0.2714752980216389, 0.2522021167328263, 0.19245851414209683]),
 'Atr-41': (['Atr-87', 'Atr-40', 'Atr-88'],
  [0.425911931527221, 0.2714752980216389, 0.19487891540731514]),
 'Atr-43': (['Atr-93', 'Atr-44', 'Atr-19'],
  [0.7191337795243494, 0.5147639639021669, 0.23251463976959247]),
 'Atr-44': (['Atr-26', 'Atr-43', 'Atr-20'],
  [0.5165399762476152, 0.5147639639021669, 0.4398379057670585]),
 'Atr-45': (['Atr-21', 'Atr-94', 'Atr-51'],
  [0.3314314289399372, 0.2413226917956054, 0.23069501996823005]),
 'Atr-46': (['Atr-22', 'Atr-47', 'Atr-53'],
  [0.3176805730604864, 0.2790232076574929, 0.268461099350803]),
 'Atr-47': (['Atr-46', 'Atr-223', 'Atr-95'],
  [0.2790232076574929, 0.2630314034427025, 0.2166391460298253]),
 'Atr-51': (['Atr-44', 'Atr-45', 'Atr-52'],
  [0.2682842348564074, 0.23069501996823005, 0.21746197359420083]),
 'Atr-52': (['Atr-53', 'Atr-165', 'Atr-96'],
  [0.6191445071617493, 0.309078127529228, 0.2946779288629876]),
 'Atr-53': (['Atr-52', 'Atr-46', 'Atr-165'],
  [0.6191445071617493, 0.268461099350803, 0.25270197907193787]),
 'Atr-54': (['Atr-95', 'Atr-96', 'Atr-47'],
  [0.34675623933194866, 0.3151585523603349, 0.2042247066720809]),
 'Atr-70': (['Atr-74', 'Atr-75', 'Atr-73'],
  [0.4476495360214612, 0.345393855218016, 0.2899013896307599]),
 'Atr-71': (['Atr-141', 'Atr-142', 'Atr-75'],
  [0.2901878199991065, 0.18757568989428125, 0.15708346900665357]),
 'Atr-73': (['Atr-30 ', 'Atr-70', 'Atr-74'],
  [0.3449483616502866, 0.2899013896307599, 0.18328027329060367]),
 'Atr-74': (['Atr-31', 'Atr-70', 'Atr-32'],
  [0.6061548353925121, 0.4476495360214612, 0.4245237183638454]),
 'Atr-75': (['Atr-32', 'Atr-74', 'Atr-70'],
  [0.43569184874612316, 0.4025806796779733, 0.345393855218016]),
 'Atr-76': (['Atr-141', 'Atr-142', 'Atr-209'],
  [0.6696173238359003, 0.43343094845001545, 0.32025333654568744]),
 'Atr-77': (['Atr-84', 'Atr-85', 'Atr-5'],
  [0.8875635966481074, 0.30403460236841956, 0.06458581864546856]),
 'Atr-78': (['Atr-33', 'Atr-38', 'Atr-145'],
  [0.2770686802224342, 0.15565152536033847, 0.144620355405836]),
 'Atr-79': (['Atr-30 ', 'Atr-146', 'Atr-34'],
  [0.25656021314332017, 0.2207614345936652, 0.17269634698293077]),
 'Atr-80': (['Atr-74', 'Atr-32', 'Atr-35'],
  [0.3061095524640192, 0.30079967511054556, 0.2973418971165845]),
 'Atr-81': (['Atr-82', 'Atr-36', 'Atr-147'],
  [0.3442110723367523, 0.2827192035673106, 0.2697804208490284]),
 'Atr-82': (['Atr-149', 'Atr-148', 'Atr-81'],
  [0.39543525958298675, 0.3886025901340816, 0.3442110723367523]),
 'Atr-84': (['Atr-77', 'Atr-85', 'Atr-5'],
  [0.8875635966481074, 0.2455402364258533, 0.16636307104462594]),
 'Atr-85': (['Atr-37', 'Atr-153', 'Atr-77'],
  [0.5137745248858175, 0.33299127470831935, 0.30403460236841956]),
 'Atr-86': (['Atr-39', 'Atr-94', 'Atr-25'],
  [0.16001630292774896, 0.08913270396688217, 0.07324521069285418]),
 'Atr-87': (['Atr-41', 'Atr-40', 'Atr-104'],
  [0.425911931527221, 0.1818950073035516, 0.10031212399719172]),
 'Atr-88': (['Atr-89', 'Atr-158', 'Atr-208'],
  [0.39726375103974926, 0.25671132767711013, 0.2475795391605629]),
 'Atr-89': (['Atr-157', 'Atr-88', 'Atr-156'],
  [0.40461922481214446, 0.39726375103974926, 0.33382897076952905]),
 'Atr-93': (['Atr-43', 'Atr-44', 'Atr-52'],
  [0.7191337795243494, 0.34110058614391336, 0.24607320166779006]),
 'Atr-94': (['Atr-52', 'Atr-162', 'Atr-45'],
  [0.2834974931701406, 0.2759273971096424, 0.2413226917956054]),
 'Atr-95': (['Atr-104', 'Atr-96', 'Atr-54'],
  [0.4550211609525627, 0.4122468427565377, 0.34675623933194866]),
 'Atr-96': (['Atr-97', 'Atr-163', 'Atr-95'],
  [0.4474748357866251, 0.44135701497322866, 0.4122468427565377]),
 'Atr-97': (['Atr-164', 'Atr-165', 'Atr-96'],
  [0.5358322428454815, 0.505121365815905, 0.4474748357866251]),
 'Atr-103': (['Atr-95', 'Atr-8', 'Atr-4'],
  [0.12582683531027125, 0.07565786984042557, 0.0746552736191319]),
 'Atr-104': (['Atr-95', 'Atr-46', 'Atr-87'],
  [0.4550211609525627, 0.16952388746125438, 0.10031212399719172]),
 'Atr-139': (['Atr-32', 'Atr-35', 'Atr-31'],
  [0.23495590109811876, 0.09946552955537195, 0.06768206785100744]),
 'Atr-140': (['Atr-74', 'Atr-30 ', 'Atr-147'],
  [0.27135951038928346, 0.2463222729668206, 0.21646504032677452]),
 'Atr-141': (['Atr-76', 'Atr-142', 'Atr-209'],
  [0.6696173238359003, 0.5379119190923696, 0.39019165966292285]),
 'Atr-142': (['Atr-141', 'Atr-76', 'Atr-209'],
  [0.5379119190923696, 0.43343094845001545, 0.38421420151678165]),
 'Atr-143': (['Atr-141', 'Atr-202', 'Atr-209'],
  [0.27042770039848674, 0.19463813876848216, 0.15790838077016553]),
 'Atr-144': (['Atr-145', 'Atr-8', 'Atr-4'],
  [0.3318896329206346, 0.15276166359722002, 0.13398682818114066]),
 'Atr-145': (['Atr-144', 'Atr-78', 'Atr-4'],
  [0.3318896329206346, 0.144620355405836, 0.11751999109979168]),
 'Atr-146': (['Atr-79', 'Atr-147', 'Atr-154'],
  [0.2207614345936652, 0.10375836992451033, 0.06959161762181634]),
 'Atr-147': (['Atr-81', 'Atr-209', 'Atr-12'],
  [0.2697804208490284, 0.2257640048095869, 0.21792972463556035]),
 'Atr-148': (['Atr-210', 'Atr-149', 'Atr-209'],
  [0.45751080075924183, 0.4097265681097288, 0.3892170827363892]),
 'Atr-149': (['Atr-148', 'Atr-82', 'Atr-150'],
  [0.4097265681097288, 0.39543525958298675, 0.29840309028034356]),
 'Atr-150': (['Atr-211', 'Atr-218', 'Atr-82'],
  [0.37658839270184924, 0.3321686499130306, 0.3317207359483211]),
 'Atr-152': (['Atr-5', 'Atr-9', 'Atr-6'],
  [0.16813930476356218, 0.12196144697585606, 0.023114134959521967]),
 'Atr-153': (['Atr-85', 'Atr-37', 'Atr-11'],
  [0.33299127470831935, 0.18594487424114278, 0.04801656390737774]),
 'Atr-154': (['Atr-11', 'Atr-162', 'Atr-146'],
  [0.09277004611937621, 0.09252190813125068, 0.06959161762181634]),
 'Atr-155': (['Atr-88', 'Atr-163', 'Atr-12'],
  [0.17851400665659192, 0.1730019885282546, 0.14227914753559817]),
 'Atr-156': (['Atr-157', 'Atr-89', 'Atr-218'],
  [0.4319717684348995, 0.33382897076952905, 0.2955821712160516]),
 'Atr-157': (['Atr-156', 'Atr-89', 'Atr-218'],
  [0.4319717684348995, 0.40461922481214446, 0.39943194106044266]),
 'Atr-158': (['Atr-219', 'Atr-218', 'Atr-88'],
  [0.5821389713844204, 0.25901949213142983, 0.25671132767711013]),
 'Atr-161': (['Atr-94', 'Atr-45', 'Atr-11'],
  [0.17705681145524638, 0.11644264818048712, 0.08244152105274666]),
 'Atr-162': (['Atr-94', 'Atr-97', 'Atr-52'],
  [0.2759273971096424, 0.2738418339905465, 0.2709051165270332]),
 'Atr-163': (['Atr-96', 'Atr-97', 'Atr-164'],
  [0.44135701497322866, 0.3232399094280432, 0.2667469602702044]),
 'Atr-164': (['Atr-165', 'Atr-97', 'Atr-163'],
  [0.5684931823453232, 0.5358322428454815, 0.2667469602702044]),
 'Atr-165': (['Atr-164', 'Atr-97', 'Atr-52'],
  [0.5684931823453232, 0.505121365815905, 0.309078127529228]),
 'Atr-202': (['Atr-209', 'Atr-143', 'Atr-210'],
  [0.2623406825910267, 0.19463813876848216, 0.07286948820493855]),
 'Atr-203': (['Atr-211', 'Atr-82', 'Atr-81'],
  [0.22362679830085097, 0.15045175855648454, 0.10018428732482755]),
 'Atr-207': (['Atr-208', 'Atr-88', 'Atr-10'],
  [0.14543648267967688, 0.10950847892068494, 0.09232961387230615]),
 'Atr-208': (['Atr-88', 'Atr-8', 'Atr-4'],
  [0.2475795391605629, 0.16197516479716148, 0.15986053949129958]),
 'Atr-209': (['Atr-141', 'Atr-148', 'Atr-142'],
  [0.39019165966292285, 0.3892170827363892, 0.38421420151678165]),
 'Atr-210': (['Atr-148', 'Atr-209', 'Atr-211'],
  [0.45751080075924183, 0.34335605322511326, 0.33319811997028176]),
 'Atr-211': (['Atr-226', 'Atr-150', 'Atr-210'],
  [0.4608389327914266, 0.37658839270184924, 0.33319811997028176]),
 'Atr-215': (['Atr-223', 'Atr-218', 'Atr-22'],
  [0.27668206600650325, 0.10866954608072955, 0.08430948038494403]),
 'Atr-216': (['Atr-10', 'Atr-11', 'Atr-208'],
  [0.18274212170780207, 0.08151874887649187, 0.03293838460096605]),
 'Atr-217': (['Atr-12', 'Atr-10', 'Atr-224'],
  [0.12067602610798431, 0.10492469180205584, 0.08006869995676379]),
 'Atr-218': (['Atr-157', 'Atr-150', 'Atr-156'],
  [0.39943194106044266, 0.3321686499130306, 0.2955821712160516]),
 'Atr-219': (['Atr-158', 'Atr-226', 'Atr-218'],
  [0.5821389713844204, 0.5701327737184413, 0.27574593535220887]),
 'Atr-223': (['Atr-215', 'Atr-47', 'Atr-46'],
  [0.27668206600650325, 0.2630314034427025, 0.09519617531525466]),
 'Atr-224': (['Atr-162', 'Atr-225', 'Atr-217'],
  [0.22795210664448826, 0.1715744499358512, 0.08006869995676379]),
 'Atr-225': (['Atr-164', 'Atr-224', 'Atr-97'],
  [0.2088981298202259, 0.1715744499358512, 0.14847555419506037]),
 'Atr-226': (['Atr-219', 'Atr-211', 'Atr-156'],
  [0.5701327737184413, 0.4608389327914266, 0.21329914689721383])}

In [250]:
corr_ring

{'A1': (['A20', 'A7', 'A14'],
  [0.03749289824995719, 0.036719843146805216, 0.03448713801655191]),
 'A2': (['A12', 'A19', 'A14'],
  [0.03474105597005793, 0.0325222751761495, 0.02697123006653592]),
 'A3': (['A7', 'A19', 'A17'],
  [0.053096974290384555, 0.039268149135723046, 0.03411980467754041]),
 'A4': (['A9', 'A18', 'A11'],
  [0.033250078275500146, 0.032902244709165626, 0.02840794498295973]),
 'A5': (['A8', 'A15', 'A10'],
  [0.04743407692799436, 0.02953046010223592, 0.025422187154666893]),
 'A6': (['A16', 'A19', 'A18'],
  [0.038951311704153994, 0.031875032690384233, 0.027924192077264546]),
 'A7': (['A3', 'A18', 'A1'],
  [0.053096974290384555, 0.03928269657823343, 0.036719843146805216]),
 'A8': (['A5', 'A10', 'A19'],
  [0.04743407692799436, 0.04317201702911437, 0.03844919592580723]),
 'A9': (['A4', 'A1', 'A3'],
  [0.033250078275500146, 0.03241004866831131, 0.02946150151938224]),
 'A10': (['A8', 'A12', 'A3'],
  [0.04317201702911437, 0.035390688056420795, 0.03377307242347576]),
 'A11': (['A19', 'A4', 'A3'],
  [0.03992483515169698, 0.02840794498295973, 0.025127060269217967]),
 'A12': (['A14', 'A10', 'A2'],
  [0.038976168728409755, 0.035390688056420795, 0.03474105597005793]),
 'A13': (['A20', 'A16', 'A8'],
  [0.05203131375426016, 0.03978900084901071, 0.03148323309911735]),
 'A14': (['A12', 'A16', 'A1'],
  [0.038976168728409755, 0.038895333922780655, 0.03448713801655191]),
 'A15': (['A16', 'A1', 'A5'],
  [0.030095828823716926, 0.029964836592634717, 0.02953046010223592]),
 'A16': (['A13', 'A6', 'A14'],
  [0.03978900084901071, 0.038951311704153994, 0.038895333922780655]),
 'A17': (['A3', 'A19', 'A1'],
  [0.03411980467754041, 0.030109902952920882, 0.02342720164276222]),
 'A18': (['A7', 'A19', 'A4'],
  [0.03928269657823343, 0.03768057560238648, 0.032902244709165626]),
 'A19': (['A11', 'A3', 'A8'],
  [0.03992483515169698, 0.039268149135723046, 0.03844919592580723]),
 'A20': (['A13', 'A1', 'A8'],
  [0.05203131375426016, 0.03749289824995719, 0.03474751365635532])}

In [251]:
corr_yeast1

{'Mcg': (['Gvh', 'Mit', 'Vac'],
  [0.5816314195343655, 0.15817547166466248, 0.07504268442654734]),
 'Gvh': (['Mcg', 'Mit', 'Vac'],
  [0.5816314195343655, 0.14031393708266057, 0.08875939044634182]),
 'Alm': (['Mit', 'Pox', 'Erl'],
  [0.0596682973706651, 0.009377914429793544, -0.008083461877085462]),
 'Mit': (['Mcg', 'Gvh', 'Alm'],
  [0.15817547166466248, 0.14031393708266057, 0.0596682973706651]),
 'Erl': (['Mcg', 'Gvh', 'Vac'],
  [0.06492153734669985, 0.060823302368430324, 0.043626910114358666]),
 'Pox': (['Vac', 'Alm', 'Mcg'],
  [0.020899690551987458, 0.009377914429793544, 0.005596972987055046]),
 'Vac': (['Nuc', 'Gvh', 'Mcg'],
  [0.0896904118857731, 0.08875939044634182, 0.07504268442654734]),
 'Nuc': (['Vac', 'Erl', 'Alm'],
  [0.0896904118857731, 0.0028292564918294505, -0.022042837335650454])}